@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<br />
<br />

<div class="alert-info">
    User Can Get Access to the Registration,LogIn.(For Login Use: Name:16103022@iubat.edu Password:123456)<br />
    Admin Can Get Access to the Room and Hotel(For Login Use:Name:nayandey07@gmail.com Password:123456)<br />
    Staff will get Access to the Hotel(For Login In Use:Name:nayandey70@gmail.com Password:123456)<br />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />